<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<section class="container about">
<h1>${_("Who We Are")}</h1>
<p>${_("Vendor neutrality, open source focus, best of breed solutions, practical hands on class experiences, zero powerpoint, no lecturing, sheer collaboration and productivity are just some of the factors that you see but the real kicker is the immensely positive feedback from our graduates that really makes us tick.")}</p>
<p>- CIO Magazine rates us among the top 10 cloud programs</p>
<p>Founded in 2011, Cloud Genius is a licensed cloud computing training institution created by industry experts. Aiming to help you succeed in your career endeavors, we take pride in our stimulating and hands-on courses, supportive class environment, and business resources. With locations in Kirkland WA, Chicago IL, Newark, NJ, and now Google Hangout based live interactive courses are easily accessible and designed with your lifestyle in mind.
</p>
<p>We offer Industry standard Cloud Genius certification upon completion of Cloud Technologies, DevOps, and Architecture/Design courses that are reputable to businesses; demonstrating your skills and experience in cloud technologies. We strive to help you realize your dream, and are here to teach you all of the knowledge, skills, and resources needed to help you become a Cloud Genius and achieve your career goals.</p>

<a href="/get-certified">Transform yourself into a Cloud Genius!</a>
</section>
