<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Employers")}</%block>

<section class="container employers">
<br/>
<h1>${_("Some of the fine organizations where Cloud Genius graduates work")}</h1>
<br/>

<br/>
<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <img class="" src="//cloudgenius.s3.amazonaws.com/Boeing.png" alt="Generic placeholder image" width="300">
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="" src="//cloudgenius.s3.amazonaws.com/Microsoft.png" alt="Generic placeholder image" width="300">
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="" src="//cloudgenius.s3.amazonaws.com/CA.png" alt="Generic placeholder image" width="300">
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <img class="" src="//cloudgenius.s3.amazonaws.com/Expedia.png" alt="Generic placeholder image" width="300">
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="" src="//cloudgenius.s3.amazonaws.com/Arcserve.png" alt="Generic placeholder image" width="300">
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="" src="//cloudgenius.s3.amazonaws.com/Weyerhaeuser.jpg" alt="Generic placeholder image" width="300">
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <img class="" src="//cloudgenius.s3.amazonaws.com/us-military.gif" alt="Generic placeholder image" width="300">
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="" src="//cloudgenius.s3.amazonaws.com/INRIX.jpg" alt="Generic placeholder image" width="300">
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="" src="//cloudgenius.s3.amazonaws.com/Leidos.png" alt="Generic placeholder image" width="300">
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


</section>




<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
