<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Employers")}</%block>

<section class="container employers">
<br/>
<h1>${_("Some of the fine organizations where our graduates work")}</h1>
<br/>

<br/>
<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4" align="center">
    <img class="" src="//cloudgenius.s3.amazonaws.com/Boeing.png" alt="Boeing" width="300">
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4" align="center">
    <img class="" src="//cloudgenius.s3.amazonaws.com/Microsoft.png" alt="Microsofte" width="300">
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4" align="center">
    <img class="" src="//cloudgenius.s3.amazonaws.com/Expedia.png" alt="Expedia" width="300">

  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
<br/>

<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4" align="center">
    <img class="" src="//cloudgenius.s3.amazonaws.com/INRIX.jpg" alt="INRIX" width="250">
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4" align="center">
    <img class="" src="//cloudgenius.s3.amazonaws.com/Arcserve.png" alt="Arcserve" width="300">
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4" align="center">
    <img class="" src="//cloudgenius.s3.amazonaws.com/Leidos.png" alt="Leidos" width="300">
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
<br/>


<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4" align="center">
    <img class="" src="//cloudgenius.s3.amazonaws.com/us-military.gif" alt="US Military" height="100">
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4" align="center">
    <img class="" src="//cloudgenius.s3.amazonaws.com/CA.png" alt="CA Tech" height="100">
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4" align="center">
    <img class="" src="//cloudgenius.s3.amazonaws.com/Weyerhaeuser.jpg" alt="Weyerhaeuser" height="100">
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
<br/>


<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4" align="center">
    <img class="" src="//cloudgenius.s3.amazonaws.com/aws.png" alt="Zerto" width="250">
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4" align="center">
    <img class="" src="//cloudgenius.s3.amazonaws.com/Zerto.png" alt="" width="250">
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4" align="center">
    <img class="" src="//cloudgenius.s3.amazonaws.com/Zerto.png" alt="" width="250">
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
<br/>



</section>




<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
