<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Recommended Cloud Genius")}</%block>

<section class="container graduates">
<h1>${_("Recommended Cloud Genius")}</h1>

<h2>An opportunity for the top tier</h2>
<p>
We’d like to challenge you to raise the stakes and bring your best game to this process. To spur that on, the very best among you — evaluated on talent, professionalism, and high-level strategic thinking — will be featured on this “Recommended Cloud Genius” page.
</p><p>
Inclusion on this page will be necessarily subjective, but it boils down to a simple but powerful “X Factor” — would we personally recommend you to a friend looking for help?
</p><p>
If the answer is yes, we’ll feature you as one of our recommended Cloud Genius, along with a quick bio and your content specialty. This page will become a powerhouse directory of the “best of the best,” and a nearly effortless way for you to find the best opportunities.
</p>
</section>
