<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Testimonials")}</%block>

<section class="container testimonials">
<h1>${_("Testimonials")}</h1>

<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <img class="img-circle" src="//cdn.cloudgeni.us/sreenivas-sama-of-boeing.jpg" alt="sreenivas-sama-of-boeing" width="140" height="140">
    <br/>
    <p>Strongly recommend this course for any IT employees (Developers, Architects, Programmers, Operation and Prod Support teams). The course covers the state-of-art topics in cloud computing and the instructors makes the classes very interesting with live examples, class exercises, videos and of course humor :-)</p>
    <h4>Sreenivas Sama</h4>
    <br/>Software Developer
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="//cdn/cloudgeni.us/matt-burrell-of-boeing-500.jpg" alt="matt-burrell-of-boeing" width="140" height="140">
    <br/>
    <p>The Cloud Genius classes opened my eyes to all the things that I have been missing in my own Industry investigation and how expansive Open Source based Cloud services have been deployed across the Internet. The Cloud Genius classes were what I needed to complete my understanding on where the industry is going with Open Source based Cloud services. </p>

    <p>I spend a large part of my day looking at new technologies that can innovate the way IT supports the business. I work with strategic Suppliers to help direct my areas of focus. I thought that I was keeping up with industry trends, technologies, and software being developed and deployed.
    </p>
    <h4>Matthew Burrell</h4>
    <br/>Senior Systems Architect
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <br/>
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    <h4>Name</h4>
    <br/>Title
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <br/>
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    <h4>Name</h4>
    <br/>Title
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <br/>
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    <h4>Name</h4>
    <br/>Title
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <br/>
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    <h4>Name</h4>
    <br/>Title
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


</section>




<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
