<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Testimonials")}</%block>

<section class="container testimonials">
<h1>${_("Testimonials")}</h1>

<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <img class="img-circle" src="//cdn.cloudgeni.us/sreenivas-sama-of-boeing.jpg" alt="Sreenivas Sama Software Developer at Boeing" width="140" height="140">
    <br/>
    <p>Strongly recommend this program for any IT employees (Developers, Architects, Programmers, Operation and Prod Support teams). The course covers the state-of-art topics in cloud computing and the instructors makes the classes very interesting with live examples, class exercises, videos and of course humor :-)</p>
    <h4>Sreenivas Sama</h4>
    Software Developer
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="//cdn.cloudgeni.us/matt-burrell-of-boeing-500.jpg" alt="Matt Burrell Senior Systems Architect at Boeing" width="140" height="140">
    <br/>
    <p>This program opened my eyes to all the things that I have been missing in my own Industry investigation and how expansive Open Source based Cloud services have been deployed across the Internet. The Cloud Genius classes were what I needed to complete my understanding on where the industry is going with Open Source based Cloud services. </p>
    <h4>Matthew Burrell</h4>
    Senior Systems Architect
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="//cdn.cloudgeni.us/brandon.png" alt="Brandon Wigington Training Coordinating Officer for US Military" width="140" height="140">
    <br/>
    <p>Cloud Genius has the best instructors I have had the privilege of working with ever.</p>
    <h4>Brandon Wigington</h4>
    Training Coordinating Officer for US Military
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <img class="img-circle" src="//cdn.cloudgeni.us/nicu-parente.jpg" alt="Nicu Parente Analyst at Expedia" width="140" height="140">
    <br/>
    <p>All of the teaching are “Real World Cases” which is huge.</p>
    <h4>Nicu Parente</h4>
    US Army Infantry. Now, Analyst at Expedia
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="//cdn.cloudgeni.us/ahren-swett-500.jpg" alt="Ahren Swett" width="140" height="140">
    <br/>
    <p>Instructors are helpful and very considerate when we say we don’t get it. Really important!</p>
    <h4>Ahren Swett</h4>
    Transitioning Medic with US Army
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="//cdn.cloudgeni.us/arjun-barjacharya.jpg" alt="Arjun Bajracharya, Analyst at Expedia" width="140" height="140">
    <br/>
    <p>Class discussions are video recorded and made available offline for self review. That is really great since some of us can’t make a few of the sessions.</p>
    <h4>Arjun Bajracharya</h4>
    US Army Cook. Now, Analyst at Expedia
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


</section>




<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
