## mako
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='static_content.html'/>
## WARNING: These files are specific to edx.org and are not used in installations outside of that domain. Open edX users will want to use the file "footer.html" for any changes or overrides.
<div class="wrapper wrapper-footer edx-footer edx-footer-new">
  <footer id="footer-global" class="footer-global" role="contentinfo" aria-label="Footer">

    <div class="footer-about">
      <h2 class="sr footer-about-title">${_("About edX")}</h2>

      <div class="footer-about-logo">
        <img alt="Cloud Genius" src="${static.url('images/default-theme/logo.png')}">
      </div>

      <div class="footer-about-copy">
        <p>
          ${_(
            "Vendor neutrality, open source focus, best of breed solutions, practical hands on "
            "experiences in our sessions, zero powerpoint, no lecturing, sheer collaboration "
            "and productivity are just some of the factors that you see, but the real kicker "
            "is the immensely positive feedback from our graduates that really makes us tick."
            ).format(
          )}
        </p>
        <br/><br/>
        <p>CIO Magazine rated us among the top 10 cloud programs.</p>
        <br/><br/>
      </div>

      <div class="footer-about-copyright">
      	## Using "Cloud Genius" explicitly here for copyright purposes (settings.PLATFORM_NAME is just "Cloud Genius", and this footer is only used on cloudgeni.us)
      	<p>&copy; ${settings.COPYRIGHT_YEAR} Cloud Genius®, all rights reserved.</p>

      	## Site operators: Please do not remove this paragraph! This attributes back to Cloud Genius and makes your acknowledgement of Cloud Genius trademarks clear.
      	<p>
          <small>Cloud Genius® is a registered trademark.</small>
      	</p>
      </div>

      <div class="footer-about-links">
        <small><a href="${marketing_link('TOS')}"><span class="copy">${_("Terms of Service")}</span></a></small>
        <small><a href="${marketing_link('PRIVACY')}"><span class="copy">${_("Privacy Policy")}</span> <span class="note">${_("(Revised 4/16/2015)")}</span></a></small>
      </div>
    </div>

    <nav class="footer-nav" role="navigation" aria-label="About Us">
      <h2 class="footer-nav-title">${_("About Us")}</h2>

      <div class="footer-nav-links">
        <a href="${marketing_link('GET-CERTIFIED')}"><span class="copy">Certification</span></a>
        <a href="${marketing_link('TESTIMONIALS')}"><span class="copy">Testimonials</span></a>
        <a href="${marketing_link('FAQ')}"><span class="copy">${_("FAQ")}</span></a>
        <a href="${marketing_link('EMPLOYERS')}"><span class="copy">Our Hiring Partners</span></a>
        <a href="${marketing_link('GRADUATES')}"><span class="copy">Our Graduates</span></a>
        <a href="${marketing_link('PARTNERS')}"><span class="copy">Our Partners</span></a>
        ## href="${marketing_link('BLOG')}"
        <a href="//blog.cloudgeni.us"><span class="copy">Blog</span></a>
        ## href="${marketing_link('DONATE')}"
        <a href="${marketing_link('LWTECH')}"><span class="copy">LWTech.edu</span></a>
        <a href="${marketing_link('NIU')}"><span class="copy">NIU.edu</span></a>
        <a href="${marketing_link('JOBS')}"><span class="copy">${_("Jobs")}</span></a>
        <a href="${marketing_link('ABOUT')}"><span class="copy">${_("About")}</span></a>
        <a href="${marketing_link('TEAM')}"><span class="copy">Our Team</span></a>
        <a href="${marketing_link('NEWS')}"><span class="copy">${_("News")}</span></a>
        <a href="${marketing_link('CONTACT')}"><span class="copy">${_("Contact")}</span></a>
      </div>
    </nav>

    <div class="footer-follow">
      <h2 class="footer-follow-title">${_("Follow Us")}</h2>

      <div class="footer-follow-links">
        ## Translators: This is the website name of www.twitter.com. Please
        ## translate this the way that Twitter advertises in your language.
        <a href="${settings.PLATFORM_TWITTER_URL}" title="${_("Twitter")}" rel="noreferrer">
          <i class="icon fa fa-twitter element-invisible"></i>
          <span class="copy">${_("Twitter")}</span>
        </a>
        ## Translators: This is the website name of www.facebook.com. Please
        ## translate this the way that Facebook advertises in your language.
        <a href="${settings.PLATFORM_FACEBOOK_ACCOUNT}" title="${_("Facebook")}" rel="noreferrer">
          <i class="icon fa fa-facebook element-invisible"></i>
          <span class="copy">${_("Facebook")}</span>
        </a>
        ## Translators: This is the website name of www.meetup.com. Please
        ## translate this the way that Meetup advertises in your language.
        <a href="${settings.PLATFORM_MEETUP_URL}" title="${_("Meetup")}" rel="noreferrer">
          <i class="icon fa fa-calendar element-invisible"></i>
          <span class="copy">${_("Meetup")}</span>
        </a>
        ## Translators: This is the website name of www.linked.com. Please
        ## translate this the way that LinkedIn advertises in your language.
        <a href="${settings.PLATFORM_LINKEDIN_URL}" title="${_("LinkedIn")}" rel="noreferrer">
          <i class="icon fa fa-linkedin element-invisible"></i>
          <span class="copy">${_("LinkedIn")}</span>
        </a>
        <a href="https://www.youtube.com/channel/UCvygomQdqFv_p0c00EYufPA" title="${_("Youtube")}" rel="noreferrer">
          <i class="icon fa fa-youtube element-invisible"></i>
          <span class="copy">${_("Youtube")}</span>
        </a>
        ## Translators: This is the website name of plus.google.com. Please
        ## translate this the way that Google+ advertises in your language.
        <a href="${settings.PLATFORM_GOOGLE_PLUS_URL}" title="${_("Google+")}" rel="noreferrer">
          <i class="icon fa fa-google-plus element-invisible"></i>
          <span class="copy">${_("Google+")}</span>
        </a>
        <a href="https://www.linkedin.com/edu/alumni?name=Cloud+Genius" title="${_("Meet our grads")}" rel="noreferrer">
          <i class="icon fa fa-linkedin element-invisible"></i>
          <span class="copy">${_("Meet our grads")}</span>
        </a>
      </div>

      % if settings.FEATURES.get('ENABLE_FOOTER_MOBILE_APP_LINKS'):
      <div class="footer-mobile-apps">
        <h2 class="footer-nav-title">${_("Mobile Apps")}</h2>
        <div class="mobile-app-wrapper">
          <a href="${settings.MOBILE_STORE_URLS.get('apple', '#')}">
            <img class="app-store" alt="${_("Apple app on Apple Store")}" src="${static.url('images/app/app_store_badge_135x40.svg')}">
          </a>
        </div>
        <div class="mobile-app-wrapper">
          <a href="${settings.MOBILE_STORE_URLS.get('google', '#')}">
            <img class="google-play" alt="${_("Android app on Google Play")}" src="${static.url('images/app/google_play_badge_45.png')}">
          </a>
        </div>
      </div>
      % endif
      <div class="powered-by">
        <p>
          <a href="http://openedx.org/">
            <img src="https://files.edx.org/openedx-logos/edx-openedx-logo-tag-light.png" alt="${_('Powered by Open edX')}" width="75" height="25" />
          </a>
        </p>
      </div>
    </div>
  </footer>
</div>

<script>
  window.intercomSettings = {
    app_id: "atm0mmp8"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/atm0mmp8';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

<script type="text/javascript" src="/static/js/vendor/noreferrer.js" charset="utf-8"></script>
